iseconfig
_ngo
*.bgn
*_bitgen.xwbt
*.bld
*.cmd_log
*.drc
*_envsettings.html
*_guide.ncd
*.lso
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*_map.xrpt
*.ncd
*.ngc
*.ngd
*_ngdbuild.xrpt
*.ngr
*.pad
*_pad.csv
*_pad.txt
*.par
*_par.xrpt
*.pcf
*.prj
*.ptwx
*.stx
*_summary.html
*_summary.xml
*.syr
*.twr
*.twx
*.unroutes
*_usage.xml
*.ut
*.xpi
*.xst
*_xst.xrpt
*.gise
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb
_xmsgs
xst
