*.[ao]
*.pyc
*~
Makefile
TAGS
cryptech_rpcd
tests/test-aes-key-wrap
tests/test-bus
tests/test-ecdsa
tests/test-ecdsa-*.der
tests/test-hash
tests/test-mkmif
tests/test-pbkdf2
tests/test-rpc_bighash
tests/test-rpc_get_random
tests/test-rpc_get_version
tests/test-rpc_hash
tests/test-rpc_hashsig
tests/test-rpc_login
tests/test-rpc_pkey
tests/test-rpc_server
tests/test-rsa
tests/test-rsa-*.der
tests/test-trng
tests/test-xdr
utils/cores
utils/eim_peek_poke
