_ngo
_xmsgs
iseconfig
novena_baseline.gise
novena_baseline_top.bgn
novena_baseline_top.bit
novena_baseline_top.bld
novena_baseline_top.cmd_log
novena_baseline_top.drc
novena_baseline_top.lso
novena_baseline_top.ncd
novena_baseline_top.ngc
novena_baseline_top.ngd
novena_baseline_top.ngr
novena_baseline_top.pad
novena_baseline_top.par
novena_baseline_top.pcf
novena_baseline_top.prj
novena_baseline_top.ptwx
novena_baseline_top.stx
novena_baseline_top.syr
novena_baseline_top.twr
novena_baseline_top.twx
novena_baseline_top.unroutes
novena_baseline_top.ut
novena_baseline_top.xpi
novena_baseline_top.xst
novena_baseline_top_bitgen.xwbt
novena_baseline_top_envsettings.html
novena_baseline_top_map.map
novena_baseline_top_map.mrp
novena_baseline_top_map.ncd
novena_baseline_top_map.ngm
novena_baseline_top_map.xrpt
novena_baseline_top_ngdbuild.xrpt
novena_baseline_top_pad.csv
novena_baseline_top_pad.txt
novena_baseline_top_par.xrpt
novena_baseline_top_summary.html
novena_baseline_top_summary.xml
novena_baseline_top_usage.xml
novena_baseline_top_xst.xrpt
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb
xst
